/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body estilo cine */
body {
    background-color: #0d0d0d; /* negro sala de cine */
    color: #f5f5f5; /* texto claro */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Main container */
.container {
    text-align: center;
    margin-top: 12vh;
    animation: fadeIn 1.5s ease;
    overflow: visible;
}



@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.home-intro {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    text-align: center;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
}

.main-intro{
    margin-bottom: 1rem;
    color: #ffcc00;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: transform 0.3s ease;
}

.intro-title {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    color: #ffcc00;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: transform 0.3s ease;
}

.intro-title:hover {
    transform: scale(1.05);
}

.intro-text {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.brand {
    font-weight: bold;
    color: #ffcc00;
    text-shadow: 0 0 8px rgba(255, 204, 0, 0.6);
}

.intro-list {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 1.5rem 0;
}

.intro-list li {
    background: rgba(255, 255, 255, 0.1);
    margin: 0.5rem 0;
    padding: 0.8rem;
    border-radius: 12px;
    transition: transform 0.3s ease, background 0.3s ease;
}

.intro-list li:hover {
    transform: translateY(-3px);
    font-size: 1.2rem;
    font-weight: 700;
    background: #ffcc00;
    color: black;
    cursor: pointer;
}

.intro-footer {
    margin-top: 2rem;
    font-size: 1.2rem;
    font-style: italic;
    color: #ddd;
}
