
.options-btn {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 20px 0;
}

.options-btn button {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
    color: #f1f5f9;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    transition: background 0.3s ease, transform 0.2s ease;
}


.list-films-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 30px;
    padding: 40px;
    justify-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", Arial, sans-serif;
}

.movie-card {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
    width: 260px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    color: #f1f5f9;
    text-align: center;

    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 0.8s ease forwards;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card:hover{
    cursor: pointer;
    transform: translateY(-6px) scale(1.05);
    box-shadow: 0 32px 60px rgba(0,0,0,0.25);
    background: rgba(255, 255, 255, 0.12);
}

.options-btn button i{
    margin-right: 10px;
}

.options-btn button:hover {
    cursor: pointer;
    transform: translateY(-6px) scale(1.05);
    box-shadow: 0 32px 60px rgba(0,0,0,0.25);
    background: rgba(255, 255, 255, 0.12);
}

.options-btn button:hover i{
    transform: scale(1.3);
    color:rgba(12, 236, 172, 0.616);
}

.movie-card img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 14px;
    margin-bottom: 15px;
    transition: transform 0.4s ease;
}

.movie-card:hover img {
    transform: scale(1.08);
}

.movie-card h3 {
    margin: 10px 0;
    font-size: 22px;
    font-weight: 700;
    color: #f1f5f9;
    text-transform: uppercase;
}

.movie-card p {
    font-size: 14px;
    color: #cbd5e1;
    line-height: 1.4;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
